#display{
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}

.submit{
  text-align: center;
}

.refresh{
  text-align: center;
}

.jumbotron{
  background-color: blue;
}

h2{
  text-align: center;
  font-weight: bold;
}

h1{
  text-align: center;
}

body{
  margin-0;
  font-family: serif;
  font-size: 25px;
  background-image: url(coding.jpg);
  background-repeat: no-repeat;
}
.box{
  border-left: 2px solid green;
  border-right: 4px solid green;
  border-top: 6px solid green;
  border-bottom: 8px solid green;
  padding:6px;
  margin:20px;
}
