h1{
    text-align: center;
    color:blue;
    font-family: fantasy;
    font-size: 25px;
    font-style: italic;
}
.jumbotron{
  color: red;

}
.well{
    background-color: blue;
}
.panel{
  bacgroud color: black;


}
#fifth-p{
bacgroud color: blue;

}
#fifth-p p{
    text-align: center;
    transform: translate(0%,190%);
    font-size: 40px;
}
